body {
    font-family:  'Ubuntu', sans-serif;
}

button, select {
    font-family:  'Ubuntu', sans-serif;
    font-size: 17px;
    margin-bottom: 20px;
}

#header {
    height: 400px;
    justify-content: center;
    align-items: center;
    display: flex;
    position: relative;
    overflow: hidden;
}

#header .header-image {
    background-image: url("image.jpeg");
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: 0;
}

#header .header-title {
    display: inline-block;
    padding: 10px;
    z-index: 50;
    
}

#header .header-title h1 {
    font-size: 65px;
    color: #ef6001;
    text-align: center;
    
}

.wrapper {
    margin: auto;
    padding: 30px;
    max-width: 900px;
}

#header2{
    font-size: 28px;
    color: #ef6001;
}
.title{
    color: #494d4c;
    font-size: 33px;
    margin-bottom: 44px;
}
.paragraph{
    color:#494d4c ;
    font-size: 17px;
}

.divider
{
	position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
	height: 1px;
    background-color: #aaa;
}

svg {
    display: block;
    margin: auto;
}

.tick {font-size:1.3em;}
